/* @charset "utf-8";
.file_uploader {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px;
  border: 2px solid #3d3935;
  border-radius: 4px;
  background-color: #fff;
}
.file_uploader img {
  width: 40px;
}
.file_uploader h2 {
  margin: 10px 0 15px;
  color: #3d3935;
  font-size: 1.125rem;
  letter-spacing: .5px;
}
.file_uploader input[type="file"] {
  display: none;
}
.file_uploader label {
  padding: 10px 30px;
  border-radius: 4px;
  background-color: #9cffc2;
  color: #3d3935;
  font-weight: 500;
  font-size: 1.25rem;
  letter-spacing: 1px;
  cursor: pointer;
}
.file_uploader label:hover {
  opacity: .8;
}
.showslip{
  text-align: center;
  border-radius: 10px;
  padding: 1%;
  margin: 1%;
} */




/* radio */
.input-hidden {
  position: absolute;
  left: -9999px;
}

input[type=radio]:checked + label>img {
  border: 1px solid #fff;
  box-shadow: 0 0 3px 3px #090;
}

/* Stuff after this is only to make things more pretty */
input[type=radio] + label>img {
  /* border: 1px dashed #444; */
  width: 60px;
  height: 60px;
  transition: 400ms all;
  cursor: pointer;
}

input[type=radio]:checked + label>img {
  transform: 
    rotateZ(-15deg) 
    rotateX(10deg);
}



.old{
  border: none;
  width: 1px;
  height: 1px;
  text-align: center;
  margin-top: 2px;
  background-color: #f0ffff;
  color: #fff;
  opacity: 0;
}


